.form-control:focus {
  border-color: #ee7aa5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(216, 27, 96, 0.6);
}

.talent-card-container {
    width: 20%;
}

.left {
    width: 49%;
    overflow: hidden;
    float: left;
}

.right {
    width: 49%;
    float: right;
}

.end {
    margin-bottom: 32px;
}


#age-range-values-filter {
  display: inline-block;
  margin-left: 17px;
}

@media(max-width:767px) {
    #age-range-values-filter {
        font-size: 5px;
    };
}

@media(min-width:768px) {
    #age-range-values-filter {
        font-size: 9px;
    };
}

@media(min-width:922px) {
    #age-range-values-filter {
        font-size: 10px;
    };
}

@media(min-width:992px) {
    #age-range-values-filter {
        font-size: 11px;
    };
}

@media(min-width:1012px) {
    #age-range-values-filter {
        font-size: 13px;
    };
}

@media(min-width:1200px) {
    #age-range-values-filter {
        font-size: 15px;
    };
}

.ngrs-range-slider .ngrs-runner {
    margin:0;
}

/*
#role-title {
  margin-bottom: 10px;
  font-size: 15px;
}
*/

#slider-label-left-filter, #slider-label-right-filter {
  font-weight: bolder;
}

#slider-bar {
    margin: 0;
    padding: 0;
    width: 70%;
    display: inline-block;
}
.ngrs-join {
    background-color: #d81b60 !important;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d81b60), color-stop(100%, #d81b60)) !important;
    background-image: -moz-linear-gradient(#d81b60, #d81b60) !important;
    background-image: -webkit-linear-gradient(#d81b60, #d81b60) !important;
    background-image: linear-gradient(#d81b60, #d81b60) !important;
}

.ngrs-runner {
    background-color: white;
}

.ngrs-range-slider {
    border: 0 !important;
}

#slider-container {
/*    padding: 0;*/
}

#dropdown-placeholder {
    color: gray;
}

.img-addon {
    width: 15px;
    height: 20px;
}

.right-col-addon {
    width: 40px;
}

#build-type-icon {
    font-size: 18px;
}

#location-icon {
    font-size: 17px;
}