.talent-card-container {
    width: 20%;
}

.left {
    width: 49%;
    overflow: hidden;
    float: left;
}

.right {
    width: 49%;
    float: right;
}

.end {
    margin-bottom: 32px;
}
#age-range-text-filter {
    display: inline-block;
    margin-right: 25px;
}

#slider-age-filter{
/*    margin-bottom: 10px;*/
    margin-left: 10px;
    width: 70%;
/*    display: inline-block;*/
    
}

#age-range-box {
    width: 50%;
}

#age-range-values-filter {
  display: inline-block;
  margin-left: 10px;
}

/*
#role-title {
  margin-bottom: 10px;
  font-size: 15px;
}
*/

#slider-label-left-filter, #slider-label-right-filter {
  font-weight: bolder;
}

#slider-bar {
    margin: 0;
    padding: 0;
    width: 70%;
    display: inline-block;
}
.ngrs-join {
    background-color: #FF69B4 !important;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FF69B4), color-stop(100%, #FF69B4)) !important;
    background-image: -moz-linear-gradient(#FF69B4, #FF69B4) !important;
    background-image: -webkit-linear-gradient(#FF69B4, #FF69B4) !important;
    background-image: linear-gradient(#FF69B4, #FF69B4) !important;
}

.ngrs-range-slider {
    border: 0 !important;
}

#slider-container {
/*    padding: 0;*/
}

#dropdown-placeholder {
    color: gray;
}