
#search-div {
    margin-top: 16px;
    
}

.search-container {
    margin-top: 8px;
}

.location {
    width: 49%;
    float: right;
}

.date {
    width: 49%;
    overflow: hidden;
    float: left;
    margin-bottom: 16px;
}

/* 
Just make this block scrollable 
*/
#scrollable-area {
    margin: auto;
/*    margin-top: 20px;*/
    width: 80%;
    height: 70vh;
    border: 2px solid #ccc;
    overflow-y: scroll; /* <-- here is what is important*/
}

/*.c-row:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}*/
.c-row.collapsed:after {
    content:"\e080";
}


/* table styles */
body {
	/*font-family: Arial;*/
	/*font-size: 12px;*/
}

thead {
	background: #efefef;
}
table {
  width: 100%;
  border-spacing:0;
  margin:0;
}
table th , table td  {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.panel-heading .panel-title2:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: left;
    color: grey;
}
.panel-heading .panel-title2.collapsed:after {
    content:"\e080";
}

.panel-group {
   overflow-y: scroll;
   height: 300px;
}

a { cursor: pointer; cursor: hand; }
