.block {
    /*margin-bottom: 30px;*/
    margin: 0;
    padding: 0;
}


.section {
    margin-bottom: 18px;
    margin-left: 15px;
    font-size: 20px;
    
}

.section-title {
    font-weight: bold;
}

.custom-width {
    width: 550px;
}
