    <!-- Scrollable table: http://codepen.io/anon/pen/qEoOBq -->
    <div ng-controller="searchController">
        <!-- Search Box -->
        <div id="search-div" >
            
            <form>
            <div class="form-group">
                <div class="input-group search-container">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search for production" ng-model="search.title">
                </div>    
                <div class="input-group search-container date">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    <input type="text" class="form-control" placeholder="Search for date" ng-model="search.date">
                </div>  
                <div class="input-group search-container location">
                    <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                    <input type="text" class="form-control" placeholder="Search for location" ng-model="search.location">
                </div>  
            </div>
        </form>
        </div>
        
        
        
        <table ng-table="tableParams" class="table table-bordered table-striped"  fixed-table-headers="scrollable-area">
            <thead>
                <tr>
                    <td>
                        <a ng-click="sortType = 'title'; sortReverse = !sortReverse">
                        Title 
                        <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                        </a>

                    </td>
                    <td>
                        <a ng-click="sortType = 'date'; sortReverse = !sortReverse">
                        Date
                        <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>

                    <td>
                        <a ng-click="sortType = 'location'; sortReverse = !sortReverse">
                        Location 
                        <span ng-show="sortType == 'location' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'location' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>

                </tr>
                <tr>
                    <td data-title="'Title'" class="panel-title">
                            {{production.title}}   
                    </td>
                     <td data-title="'Date'" ng-bind="production.date | date:longDate"></td> 
                    <td data-title="'Location'">{{production.location}}</td>
                </tr>
                <tr collapse="isCollapsed" ng-repeat-end="">
                    <td colspan="3">
                        <h3>Description</h3>
                        <p>{{production.description}}</p>
                        <!--button href="#exampleplay" class="btn btn-primary">See more!</button-->
                        <a href="#exampleplay" >VIEW MORE</a>
                    </td>
                </tr>
                </tbody>
            </table>

	</div>



