<link rel="stylesheet" href='css/casting-canned.css' />
<!-- Production Summary -->
    <div id="production-summary-container" >
        <div id="casting-title">Romeo and Juliet</div> 
        <div id="casting-description">
            Romeo and Juliet is a tragedy about two young star-crossed lovers whose deaths ultimately reconcile their feuding families. This classic play by William Shakespeare has deeply impacted hearts throughout the centuries.
        </div>
        <div id="casting-location-div">
            <div class="location-icon">
                <i class="material-icons">location_on</i>
            </div>
            <div class="location-text-box">
                <div class="location-text">77 Massachusetts Ave. Cambridge, MA, 02139</div>
            </div>
        </div>
        <div id="productionDate-div">
            <div class="productionDate-icon">
              <i class="material-icons">date_range</i> 
            </div>
            <div class="production-text-box">
              <div class="production-text">Casting Dates: April 8 - May 5, 2016</div>
            </div>
        </div>
        <div id="castingDate-div">
            <div class="castingDate-icon">
              <i class="material-icons">beenhere</i>
            </div>
            <div class="castingDate-text-box">
              <div class="castingDate-text">Production Date: July 26, 2016</div>
            </div>
        </div>
    </div>
    
    <!--  Role Tiles  -->
    
    <div class="gridListdemoBasicUsage">

        <h2>Roles</h2> 
        
        <h4>Applied: </h4>
        <div class='md-padding applied-roles' layout="row" layout-wrap>
            <md-card class="card-container"  ng-repeat="role in roles" ng-if="'applied' == role.status">
                <div class="strip strip-applied"></div>
                <md-card-content>
                    <h3>{{role.name}}</h3>
                    <p>{{role.description}}</p>
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>-->
                    <p>Interview: {{role.interviewDate}} at {{role.interviewTime}}</p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class="md-accent" ng-click="viewRole($index)">View</md-button>
                </div>
            </md-card>
        </div>
        
        <h4>Accepted:</h4>
        <div class='md-padding accepted-roles' layout="row" layout-wrap>
            <md-card class="card-container"  ng-repeat="role in roles" ng-if="'accepted' == role.status">
                <div class="strip strip-accepted"></div>
                <md-card-content>
                    <h3>{{role.name}}</h3>
                    <p>{{role.description}}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class="md-accent" ng-click="viewRole($index)">View</md-button>
                </div>
            </md-card>
        </div>
        
        <h4>Rejected:</h4>
        <div class='md-padding rejected-roles' layout="row" layout-wrap>
            <md-card class="card-container"  ng-repeat="role in roles" ng-if="'rejected' == role.status">
                <div class="strip strip-rejected"></div>
                <md-card-content>
                    <h3>{{role.name}}</h3>
                    <p>{{role.description}}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class="md-accent" ng-click="viewRole($index)">View</md-button>
                </div>
            </md-card>
        </div>
        
        <h4>Backup:</h4>
        <div class='md-padding backup-roles' layout="row" layout-wrap>
            <md-card class="card-container"  ng-repeat="role in roles" ng-if="'backup' == role.status">
                <div class="strip strip-backup"></div>
                <md-card-content>
                    <h2>{{role.name}}</h2>
                    <p>{{role.description}}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class="md-accent" ng-click="viewRole($index)">View</md-button>
                </div>
            </md-card>
        </div>
    </div>
    



