 <!-- Production Summary -->
    <div id="production-summary-container" >
        <h1> Romeo and Juliet </h1>
        <div class="description"><p>TY</p></div>
        <div class="location-info"><i class="material-icons">location_on</i><p class="vertical-align">77 Massachusetts Ave. Cambridge, MA 02139</p></div>
        <div class="casting-dates"><i class="material-icons">date_range</i>
            Casting Dates: 
            April 8 - May 5, 2016
        </div>
        <div class="production-date"><i class="material-icons">beenhere</i>
            Production Date:
            July 26, 2016
        </div>
    </div>
    
    <!--  Role Tiles  -->
    
    <div class="gridListdemoBasicUsage">

        <h2>Roles</h2> 
        
        <h4>Applied: </h4>
        <div class='md-padding applied-roles' layout="row" layout-wrap>
            <md-card class="card-container"  ng-repeat="role in roles" ng-if="'applied' == role.status">
                <div class="strip strip-applied"></div>
                <md-card-content>
                    <h2>{{role.name}}</h2>
                    <p>{{role.description}}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class="md-accent">View</md-button>
                </div>
            </md-card>
        </div>
        
        <h4>Accepted:</h4>
        <div class='md-padding accepted-roles' layout="row" layout-wrap>
            <md-card class="card-container"  ng-repeat="role in roles" ng-if="'accepted' == role.status">
                <div class="strip strip-accepted"></div>
                <md-card-content>
                    <h2>{{role.name}}</h2>
                    <p>{{role.description}}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class="md-accent">View</md-button>
                </div>
            </md-card>
        </div>
        
        <h4>Rejected:</h4>
        <div class='md-padding rejected-roles' layout="row" layout-wrap>
            <md-card class="card-container"  ng-repeat="role in roles" ng-if="'rejected' == role.status">
                <div class="strip strip-rejected"></div>
                <md-card-content>
                    <h2>{{role.name}}</h2>
                    <p>{{role.description}}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class="md-accent">View</md-button>
                </div>
            </md-card>
        </div>
        
        <h4>Backup:</h4>
        <div class='md-padding backup-roles' layout="row" layout-wrap>
            <md-card class="card-container"  ng-repeat="role in roles" ng-if="'backup' == role.status">
                <div class="strip strip-backup"></div>
                <md-card-content>
                    <h2>{{role.name}}</h2>
                    <p>{{role.description}}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class="md-accent">View</md-button>
                </div>
            </md-card>
        </div>
    </div>
    



