    <link rel="stylesheet" href='css/actor.css' />
          
    <!-- Scrollable table: http://codepen.io/anon/pen/qEoOBq -->
    <div ng-controller="searchController">
        <!-- Search Box -->
        <div id="search-div" >
            
            <form>
            <div class="form-group">
                <div class="input-group search-container">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search by casting title" ng-model="search.title">
                </div>    
                <div class="input-group search-container date">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    <!-- CALENDAR PICKER -->
                    <input date-range-picker class="form-control date-picker" placeholder="Search by date range" type="text" ng-model="datePicker.date" >
                    </input>
<!--                    <input type="text" class="form-control" placeholder="Search by date" ng-model="search.date">-->
                </div>
                
                
                
                <div class="input-group search-container location">
                    <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                    <input type="text" class="form-control" placeholder="Search by location" ng-model="search.location">
                </div>  
            </div>
        </form>
        </div>
        
        <table id="actual-table" ng-table="tableParams" class="table table-bordered table-striped"  fixed-table-headers="scrollable-area">
            
            <thead>
                <tr id="thead-contents">
                    <td>
                        <a class="md-primary" ng-click="sortType = 'title'; sortReverse = !sortReverse">
                        Title 
                        <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                        </a>

                    </td>
                    <td>
                        <a class="md-primary" ng-click="sortType = 'date'; sortReverse = !sortReverse">
                        Date
                        <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>

                    <td>
                        <a class="md-primary" ng-click="sortType = 'location'; sortReverse = !sortReverse">
                        Location 
                        <span ng-show="sortType == 'location' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'location' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>

                </tr>
            </thead>      
            <tbody>       
                <tr class="c-row" ng-repeat-start="production in $data |orderBy:sortType:sortReverse | filter:search | filter:byDateRange('date', datePicker.date.startDate, datePicker.date.endDate)" href="#" ng-click="isCollapsed = !isCollapsed">
                    <td data-title="'Title'" class="panel-title">
                        <i ng-class="isCollapsed ? 'fa fa-angle-right': 'fa fa-angle-down'"> </i>
                        {{production.title}}   
                    </td>
                    <td data-title="'Date'" ng-bind="production.date | date:longDate"></td> 
                    <td data-title="'Location'">{{production.location}}</td>
                </tr>
                <tr collapse="isCollapsed" ng-repeat-end="">
                    <td colspan="3">
                    <p class="prod-descrpt">{{production.description}}</p>
                    <!--button href="#exampleplay" class="btn btn-primary">See more!</button-->
                    <a href="#exampleplay" class="md-button md-accent" style="float: right;">View Casting</a>
                </td>
                </tr>
            </tbody>
        </table>

	</div>



