
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/jqc-1.12.0,dt-1.10.11,fc-3.2.1,kt-2.1.1,r-2.0.2,rr-1.1.1/datatables.min.css"/>
    <link rel="stylesheet" href='css/style.css' />
    <link rel="stylesheet" href='css/casting-populated.css' />


    <div class="container">
      <div class="row">
        <!-- New Role -->
        <div class="col-md-10 col-sm-10">
          <div class="row">
            <!-- Casting Description -->
            <div id="description-box">
              <p id="casting-title">{{$parent.tempCasting.title}}</p>
              <md-button class="md-raised md-primary" id="find-talent-btn" ng-click="findTalent()">
                  <span class="fa fa-search"></span><span> Find Talent </span>
              </md-button>
              <div id="casting-description">
                <p>{{$parent.tempCasting.description}} </p>
              </div>
              <div id="casting-location-div">
                <div class="location-icon">
                  <i class="fa fa-map-marker"></i>  
                </div>
                <div class="location-text-box">
                  <p class="location-text">{{$parent.tempCasting.location}}</p>
                </div>
              </div>
              <div id="casting-date-box">
                <p class="casting-date">Casting: {{castingStart}} - {{castingEnd}}</p>
              </div>
              <div id="production-date-box">
                <p class="production-date">Production: {{prodDate}}</p>
              </div>
            </div>
            <!-- end Casting Description -->
            <hr>
            <!-- Casting Roles -->
            <div id="roles-box">
              <p class="header-text">All Roles</p>
              <h3 ng-show="$parent.tempCasting.roles == 0">You currently have no roles.</h3>
              <div id="role-titles-box">
                  <div class="role-div" ng-repeat="role in $parent.tempCasting.roles">
                    <md-button ng-click="editRole($index)" class="md-raised roles">{{role.name}}</md-button>
                    <i class="material-icons cancel-button" ng-click="deleteRole($index)">cancel</i>
                  </div>
              </div>
              <md-button class="md-raised md-primary" id="add-role" ng-click="addRole()">
                  <span class="fa fa-plus"></span><span> Add Role </span>
              </md-button>
            </div>
            <!-- end Casting Roles -->
            <hr>
            <!-- Casting Applicants -->
            <div id="applicants-box" >
              <p class="header-text">Applicants By Role</p>
              <div ng-hide="$parent.tempCasting.roles == 0" class="casting-status" id="accepted">Accepted</div>
              <div ng-hide="$parent.tempCasting.roles == 0" class="casting-status" id="rejected">Rejected</div>
              <div ng-hide="$parent.tempCasting.roles == 0" class="casting-status" id="backup">Backup</div>
              <div ng-hide="$parent.tempCasting.roles == 0" class="casting-status" id="pending">Pending</div>
              <h3 ng-show="$parent.tempCasting.roles == 0">Actors and their roles will appear here.</h3>
              <div class="role-title" ng-repeat="roleObj in $parent.tempCasting.roles" ng-model="collapsed" > <i ng-class="isCollapsed ? 'fa fa-angle-right': 'fa fa-angle-down'" > </i> <span class="r-title" ng-click="isCollapsed = !isCollapsed">{{roleObj.name}}</span>
                  <div collapse="isCollapsed" ng-repeat="applicant in $parent.castingObject.applicantData[2].applicants" class="role-details">
                    <div class="applicant-name-box">             {{applicant.name | limitTo: 13}}     {{applicant.name.length > 13 ? '...' : ''}} 
                        <i ng-click="setAccepted($event)" class="material-icons accepted-icons">check_circle</i>
                        <i ng-click="setAccepted($event)" class="material-icons pending-icons">update</i>
                        <i ng-click="setAccepted($event)" class="material-icons backup-icons">help_outline</i>
                        <i ng-click="setAccepted($event)" class="material-icons rejected-icons">highlight_off</i>
                    </div>
                  </div>
              </div>
              <md-button ng-disabled="!dirtyChanges" class="md-raised md-primary" id="add-role" ng-click="dirtyChanges = !dirtyChanges">
                  <span class="fa fa-save"></span><span> Save </span>
              </md-button>
            </div>  
              
            <hr>
            <!-- Casting Schedule -->
            <div id="schedule-box">
                <p class="header-text">Casting Schedule</p>
                <div id='calendar'></div>
            </div>
            <!-- end Casting Schedule -->
            
          </div>
        </div>
        
      </div>
    </div>

    <script src="../js/casting-populated.js"></script>