
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/jqc-1.12.0,dt-1.10.11,fc-3.2.1,kt-2.1.1,r-2.0.2,rr-1.1.1/datatables.min.css"/>
    <link rel="stylesheet" href='css/style.css' />
    <link rel="stylesheet" href='css/casting-populated.css' />

  </head>
  <body >
    <div class="container">
      <div class="row">
        <!-- New Role -->
        <div class="col-md-10 col-sm-10">
          <div class="row">
            <!-- Casting Description -->
            <div id="description-box">
              <p id="casting-title">{{castingObject.title}}</p>
              <md-button class="md-raised md-primary" id="find-talent-btn" ng-click="findTalent()">
                  <span class="fa fa-search"></span><span> Find Talent </span>
              </md-button>
              <div id="casting-description">
                <p>{{castingObject.description}} </p>
              </div>
              <div id="casting-location-div">
                <div class="location-icon">
                  <i class="fa fa-map-marker"></i>  
                </div>
                <div class="location-text-box">
                  <p class="location-text">{{castingObject.location}}</p>
                </div>
              </div>
              <div id="casting-date-box">
                <p class="casting-date">Casting: {{castingObject.castingStartDate}} - {{castingObject.castingEndDate}}</p>
              </div>
              <div id="production-date-box">
                <p class="production-date">Production: {{castingObject.productionDate}}</p>
              </div>
            </div>
            <!-- end Casting Description -->
            <hr>
            <!-- Casting Roles -->
            <div id="roles-box">
              <p class="header-text">Roles</p>
              <div id="role-titles-box">
                <md-button ng-repeat="role in castingObject.roles" class="md-raised roles">
                  {{role}}
                </md-button>
              </div>
              <md-button class="md-raised md-primary" id="add-role" ng-click="addRole()">
                  <span class="fa fa-plus"></span><span> Add Role </span>
              </md-button>
            </div>
            <!-- end Casting Roles -->
            <hr>
            <!-- Casting Applicants -->
            <div id="applicants-box" >
              <p class="header-text">Applicants</p>
              <div class="casting-status" id="accepted">Accepted</div>
              <div class="casting-status" id="rejected">Rejected</div>
              <div  class="casting-status" id="backup">Backup</div>
              <div class="casting-status" id="pending">Pending</div>
              <h3 class="role-title">Romeo</h3>
              <div class="role-details">
                <p>John Smith <i class="fa fa-check accepted-check" aria-hidden="true"></i></p>
                <p>John Smith <i class="fa fa-check rejected-check" aria-hidden="true"></i></p>
                <p>John Smith <i class="fa fa-check backup-check" aria-hidden="true"></i></p>
              </div>
              <h3 class="role-title">Juliet</h3>
              <div class="role-details">
                <p>John Smith <i class="fa fa-check rejected-check" aria-hidden="true"></i></p>
                <p>John Smith <i class="fa fa-check pending-check" aria-hidden="true"></i></p>
                <p>John Smith <i class="fa fa-check pending-check" aria-hidden="true"></i></p>
              </div>
              <h3 class="role-title">Capulet</h3>
              <div class="role-details">
                <p>John Smith <i class="fa fa-check accepted-check" aria-hidden="true"></i></p>
                <p>John Smith <i class="fa fa-check rejected-check" aria-hidden="true"></i></p>
              </div>
              <h3 class="role-title">King</h3>
              <div class="role-details">
                <p>Bob Smith <i class="fa fa-check accepted-check" aria-hidden="true"></i></p>
              </div>

            </div>
            <!-- end Casting Applicants -->
            
            <!--  New Applicants table  -->
            <div ng-controller="directorPlayController">
                <table ng-table="tableParams" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>
                                Applicant 
                            </td>
                            <td>
                                Accepted
                            </td>
                            <td>
                                Rejected
                            </td>
                            <td>
                                Backup
                            </td>
                            <td>
                                Pending
                            </td>

                        </tr>

                    </thead>
                    <tbody>
                        <tr class="c-row" ng-repeat-start="role in $data" href="#" ng-click="isCollapsed = !isCollapsed">

                            <td data-title="'Applicant'" class="panel-title">
                                <i ng-class="isCollapsed ? 'fa fa-angle-right': 'fa fa-angle-down'"> </i>
                            {{role.role}}   
                            </td>
                            <td data-title="'Accepted'" ng-bind="role.date | date:'MM/dd/yy'"></td>
                            <td data-title="'Rejected'"></td>
                            <td data-title="'Backup'"></td>
                            <td data-title="'Pending'"></td>
                        </tr>
                        <tr collapse="isCollapsed" ng-repeat-end="">
                            <td >
                                
                                <!-- PLACEHOLDER-->
                                
                            </td>
                            <td colspan="4">
                                <md-radio-group layout="row" layout-align="start center">
                                    <md-radio-button flex
                                        ng-value="role.accepted"
                                        class="md-primary" >
                                        
                                    </md-radio-button>
                                    <md-radio-button flex
                                        ng-value="role.rejected"
                                        class="md-primary" >
                                        
                                    </md-radio-button>
                                    <md-radio-button flex
                                        ng-value="role.backup"
                                        class="md-primary" >
                                        
                                    </md-radio-button>
                                    <md-radio-button flex
                                        ng-value="role.pending"
                                        class="md-primary" >
                                        
                                    </md-radio-button>
                                    
                                </md-radio-group>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
              
              
            <hr>
            <!-- Casting Schedule -->
            <div id="schedule-box">
                <p class="header-text">Casting Schedule</p>
                <div id='calendar'></div>
            </div>
            <!-- end Casting Schedule -->
            
          </div>
        </div>
        
      </div>
    </div>

    <script src="../js/casting-populated.js"></script>