<style>
    #apply-button {
        float: right;
        position: fixed;
        right: 32px;
        bottom: 12px;
    }
</style>

<!-- Search Box -->
<div id="director-search-div" >

    <form>
        <div class="form-group">
            <div class="input-group search-container name">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search by name" ng-model="search.name">
            </div>    
<!--  GENDER -->
<!--
            <div class="input-group search-container left">
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                <input type="text" class="form-control" placeholder="Search by gender" ng-model="search.gender">
            </div>  
-->
            <div class="input-group search-container left" >
                <div class="input-group-addon"><i class="fa fa-venus-mars"></i></div>
                <select name="repeatSelect" class="form-control" id="repeatSelect" ng-options="gender.id as gender.option for gender in genders" ng-model="search.gender" >
                    <option value="" id="dropdown-placeholder" disabled selected>Choose gender</option>
                    <!--<option ng-repeat="gender in genders" value="{{gender}}">{{gender}}</option>-->
                </select>
            </div>     
            
            <div class="input-group search-container right">
                <div class="input-group-addon right-col-addon"><i id="location-icon" class="fa fa-map-marker"></i></div>
                <input type="text" class="form-control" placeholder="Search by location" ng-model="search.location">
            </div>  
            
            
<!--  AGE  -->  
            <div class="input-group search-container left">
                <div class="input-group-addon"><img class="img-addon" src="../img/age-icon.svg"></div>
                <div id="slider-container"class="form-control"> 
                    <div range-slider min="0" max="100" model-min="ageRange.min" model-max="ageRange.max" attach-handle-values="true"  id="slider-bar"></div>
                    <div id="age-range-values-filter">
                        Age: 
                        <span id="slider-label-left-filter">{{ageRange.min}}</span>
                        to 
                        <span id="slider-label-right-filter">{{ageRange.max}}</span>
                    </div>
                </div>
            </div>

            
            
            <!-- HAIR COLOR -->
            
            <div class="input-group search-container right">
                <div class="input-group-addon right-col-addon"><img class="img-addon" src="../img/female-hair-shape-gray.svg"></div>
<!--                <input type="text" class="form-control" placeholder="Search by hair color" ng-model="search.haircolor">-->
                
                <select name="repeatSelect" class="form-control" id="repeatSelect" ng-options="color.id as color.option for color in hairColors" ng-model="search.haircolor" >
                    <option value="" id="dropdown-placeholder" disabled selected>Choose hair color</option>
                </select>
            </div> 
            
            
            <!-- EYE COLOR -->
            <div class="input-group search-container left end">
                <div class="input-group-addon"><i class="fa fa-eye"></i></div>
<!--                <input type="text" class="form-control" placeholder="Search by eye color" ng-model="search.eyecolor">-->
                
                <select name="repeatSelect" class="form-control" id="repeatSelect" ng-options="eye.id as eye.option for eye in eyeColors" ng-model="search.eyecolor" >
                    <option value="" id="dropdown-placeholder" disabled selected>Choose eye color</option>
                </select>
                
            </div> 
            
            
            <!-- BUILD TYPE -->
            <div class="input-group search-container right end">
                <div class="input-group-addon right-col-addon"><i id ="build-type-icon" class="fa fa-male"></i></div>
                <select name="repeatSelect" class="form-control" id="repeatSelect" ng-options="build.id as build.option for build in buildTypes" ng-model="search.build" >
                    <option value="" id="dropdown-placeholder" disabled selected>Choose body type</option>
                </select>
                
            </div> 
        </div>
    </form>
</div>
    
<!--  Role Tiles  -->

<div class="gridListdemoBasicUsage">

    <h2>Talent</h2>
    <div class='' layout="row" layout-wrap>
        <md-card class="talent-card-container"  ng-repeat="actor in actors | filter:search |filter:byAgeRange('age', ageRange.min, ageRange.max) as filtered">
            
            <img src="{{actor.image}}" class="md-card-image" alt="user avatar">
            <md-card-content>
                
                
                <div class="checkbox-containter">
                    <md-checkbox class="apply-checkbox apply-role" ng-model="actor.selected" ng-click="anySelected()">{{actor.name}}</md-checkbox>
                </div>

                <p>Location: {{actor.location}}</p>
                <p>Age: {{actor.age}}</p>
                <p>Height: {{actor.height}}</p>
                
<!--                <md-button class="md-accent">View</md-button>-->
                <a ng-click="openProfile($index)" class="md-button md-accent" style="float: right;">View Profile</a>
                
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
            </div>
        </md-card>
    </div>
</div>

<h1 style="text-align:center;" ng-show="filtered.length == 0">No search results! Try changing your filters.</h1>
    
<!--  Apply  -->
<div class="submission-button">
    <!--input href="#applycalendar" id="apply-button" type="submit" value="Apply"-->
    <md-button class="md-raised md-primary" ng-click="invite()" id="apply-button" ng-disabled="notSelected">INVITE!</md-button>
    <!--  TODO: pull up modal with calendar  -->
</div>

<!--<script type="text/javascript" src="production-script.js"></script>-->

<!-- used for age slider -->
<script src='../js/nouislider.min.js'></script>
<script src="../js/new-role.js"></script>



