<style>
    #apply-button {
        float: right;
        position: fixed;
        right: 32px;
        bottom: 12px;
    }
</style>

<!-- Search Box -->
<div id="search-div" >

    <form>
        <div class="form-group">
            <div class="input-group search-container name">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search for name" ng-model="search.name">
            </div>    
<!--  GENDER -->
<!--
            <div class="input-group search-container left">
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                <input type="text" class="form-control" placeholder="Search for gender" ng-model="search.gender">
            </div>  
-->
            <div class="input-group search-container left">
                <label for="repeatSelect"> Repeat select: </label>
                <select name="repeatSelect" id="repeatSelect" ng-options="gender.id as gender.option for gender in genders" ng-model="search.gender">
                    <!--<option ng-repeat="gender in genders" value="{{gender}}">{{gender}}</option>-->
                </select>
            </div>

<!--
            <div class="input-group search-container left">
                <select class="ac-select stateList" ac-model="selectedState" ac-options="gender in genders" 
            ac-settings="{ comboMode: true, loadOnOpen: true, minWidth: '300px' }" ac-change="stateSelected(value)"></select>
            </div>
-->
            
<!--
            <div class="dropdown-container" ng-class="{ show: listVisible }">
                <div class="dropdown-display" ng-click="show();" ng-class="{ clicked: listVisible }">
                    <span ng-if="!isPlaceholder">{{display}}</span>
                    <span class="placeholder" ng-if="isPlaceholder">{{placeholder}}lt;/span>
                    <i class="fa fa-angle-down"></i>
                </div>
                <div class="dropdown-list">
                    <div>
                        <div ng-repeat="item in list" ng-click="select(item)" ng-class="{ selected: isSelected(item) }">
                            <span>{{property !== undefined ? item[property] : item}}</span>
                            <i class="fa fa-check"></i>
                        </div>
                    </div>
                </div>
            </div>
-->
            
<!--
            <div layout="column"   class="input-group search-container left" id="gender-dropdown">
                <md-menu >
                    <md-button aria-label="Open demo menu"  ng-click="$mdOpenMenu($event)">
                        <i class="fa fa-calendar"></i>
                        <md-icon md-menu-origin="" md-svg-icon="call:chat"></md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item ng-repeat="item in [1, 2, 3]">
                            <md-button ng-click="ctrl.announceClick($index)"> <span md-menu-align-target="">Option</span> {{item}} </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
-->
            
<!--
            <div class="dropdown input-group search-container left" id="gender-dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <span id="genderToReplace">Gender</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a class="clicky">Female</a></li>
                    <li><a class="clicky">Male</a></li>
                </ul>
            </div>
-->
            
            <div class="input-group search-container right">
                <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                <input type="text" class="form-control" placeholder="Search for location" ng-model="search.location">
            </div>  
            
            
<!--  AGE  -->
<!-- 
            <div class="input-group search-container left">
                <div class="input-group-addon"><i class="fa fa-calendar-o"></i></div>
                <input type="text" class="form-control" placeholder="Search for age" ng-model="search.age">
            </div> 
-->    
            

            <div class="input-group search-container left">
                <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options">
                </rzslider>
            </div>


            
<!--
            <div id="age-range-box" class="input-group search-container left">
                <p id="age-range-text">Age Range</p>
                <div id="slider-age">

                </div>
                <div id="age-range-values">
                    <span id="slider-label-left"></span>
                    to 
                    <span id="slider-label-right"></span>
                </div>
            </div>
-->
            
            
            <div class="input-group search-container right">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                <input type="text" class="form-control" placeholder="Search for hair color" ng-model="search.haircolor">
            </div> 
            
            <div class="input-group search-container left end">
                <div class="input-group-addon"><i class="fa fa-eye"></i></div>
                <input type="text" class="form-control" placeholder="Search for eye color" ng-model="search.eyecolor">
            </div> 
            
            <div class="input-group search-container right end">
                <div class="input-group-addon"><i class="fa fa-male"></i></div>
                <input type="text" class="form-control" placeholder="Search for build" ng-model="search.build">
            </div> 
        </div>
    </form>
</div>
    
<!--  Role Tiles  -->

<div class="gridListdemoBasicUsage">

    <h2>Talent</h2>
    <div class='' layout="row" layout-wrap>
        <md-card class="talent-card-container"  ng-repeat="actor in actors | filter:search">
            
            <img src="{{actor.image}}" class="md-card-image" alt="user avatar">
            <md-card-content>
                
                
                <div class="checkbox-containter">
                    <md-checkbox class="apply-checkbox apply-role">{{actor.name}}</md-checkbox>
                </div>

                <p>Location: {{actor.location}}</p>
                <p>Age: {{actor.age}}</p>
                <p>Height: {{actor.height}}</p>
<!--                <p>{{actor.weight}}</p>-->
                
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
            </div>
        </md-card>
    </div>
</div>
    
<!--  Apply  -->
<div class="submission-button">
    <!--input href="#applycalendar" id="apply-button" type="submit" value="Apply"-->
    <md-button class="md-raised md-primary" ng-click="invite()" id="apply-button">INVITE!</md-button>
    <!--  TODO: pull up modal with calendar  -->
</div>

<!--<script type="text/javascript" src="production-script.js"></script>-->

<!-- used for age slider -->
<script src='../js/nouislider.min.js'></script>
<script src="../js/new-role.js"></script>


