
<link rel="stylesheet" href='css/new-casting.css' />
<md-dialog aria-label="Create New Casting"  ng-cloak>
  <form name="myForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create New Casting</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="container" id="castingBox">
      <div class="row">
        <!-- Description, Calendar -->
        <div class="col-md-5 col-sm-5">
          <div class="row">
            <div id="col-first">
                <div class="block">
                    <h4 class="section-title">Casting Description</h4>
                    <textarea id="description" class="form-control" placeholder="Ex: This is a cast for the next cool movie..."></textarea>
                </div>
                <div class="block">
                    <h4>Production Date</h4>
                    <md-datepicker name="dateField" ng-model="myDate" md-placeholder="Enter date" md-min-date="minDate" required="" ></md-datepicker>

                    <div class="validation-messages" ng-messages="myForm.dateField.$error">
                        <div ng-message="valid">The entered value is not a date!</div>
                        <div ng-message="required">This date is required!</div>
                        <div ng-message="mindate">Date is too early!</div>
                    </div>
                </div>
                <div class="block">
                    <h4 class="section-title">Set Casting Calendar</h4>
                    <md-button id="setTimeButton" type="submit" class="md-primary md-raised" ng-click="addTimes()">Manage Calendar</md-button>
                </div>
            </div>
          </div>
        </div>
        <!-- end Description, Calendar -->
        
        <!-- Add Roles -->
        <div class="col-md-offset-2 col-md-5 col-sm-5">
          <div class="row">
            <div id="col-second">
              <h4 class="section-title">Roles</h4>
              <md-button id="addRoleOne" type="submit" class="md-raised md-primary" ng-click="addRole()">Add Role</md-button>
              <div id="roles-box">
                <p id="empty-roles-text">You have no roles yet. Create one by clicking above</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end Add Roles -->
      </div>
    </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-accent" type="submit" id="cancel-button" ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-primary" type="submit" id="accept-button" style="margin-right:20px;" ng-click="save()">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

    <script src="../js/new-casting.js"></script>