<!-- Production Summary -->
<div id="dialog-container">
    <div id="production-summary-container" >
        <h1> Romeo and Juliet </h1>
        <div class="description"><p>This play is about ...</p></div>
        <div class="location-info">77 Massachusetts Ave. Cambridge, MA 02139</div>
        <div class="casting-dates">
            Casting Dates: 
            April 8 - May 5, 2016
        </div>
        <div class="production-date">
            Production Date:
            July 26, 2016
        </div>
    </div>
    
    <!--  Role Tiles  -->
    
    <div class="gridListdemoBasicUsage">

        <h2>Roles</h2>
        <div class='' layout="row" layout-wrap>
            <md-card class="card-container"  ng-repeat="role in roles">

                <md-card-content>
                    
                    
                    <div class="checkbox-containter">
                        <md-checkbox class="apply-checkbox apply-role">{{role.name}}</md-checkbox>
                    </div>
                    
                    <p>{{role.description}}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                </div>
            </md-card>
        </div>
    </div>
    
    <!--  Apply  -->
    <div class="submission-button" ng-controller="productionController">
        <!--input href="#applycalendar" id="apply-button" type="submit" value="Apply"-->
        <a ng-click="selectTime" id="apply-button">APPLY!</a>
        <!--  TODO: pull up modal with calendar  -->
    </div>
    
    </div>

    <script type="text/javascript" src="production-script.js"></script>


